@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.hovered:hover {
    filter: invert(52%) sepia(28%) saturate(5991%) hue-rotate(328deg) brightness(99%) contrast(99%);
}



/* FAQ Section */


.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}

.faqs .faq {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 80px;

	transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	background-image: url('./assets/icon-arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
	transform: translateY(-50%) rotate(180deg);
	filter: invert(52%) sepia(28%) saturate(5991%) hue-rotate(328deg) brightness(99%) contrast(99%);
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}




/* Features tab Section */



.tabs {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
  max-width: max-content;
  color: #656770;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}


@media (max-width: 768px) {
	 .tabs {
	  padding: 15px;
	  margin:auto;
	 }

	.active-tabs::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 45px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: calc(70% + 2px);
	  height: 5px;
	  background: #FA5757;
	}
}


@media (min-width: 768px) {
	.tabs:hover {
		color: #FA5757;
	}
}

.active-tabs  {
	background: white;
	border-bottom: 1px solid transparent;
	color: #030305;

}


@media (min-width: 768px) {
	.active-tabs::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 75px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: calc(100% + 2px);
	  height: 5px;
	  background: #FA5757;
	}
}


.content {
  background: white;
  padding: 30px;
  display: none;
}



.active-content {
  display: block;
}